#include <stdio.h>
#include <stdlib.h>

#define N 10
#define M 10

int main()
{
    char campo[N][M];
    int visivel[N][M], i, j, bomba_i, bomba_j;
    
    //inicializandos as matrizes
    for(i = 0; i < N; i++)
    {
        for(j = 0; j < M; j++)
        {
            campo[i][j] = '*';
            visivel[i][j] = 1;//todas as posições são visíveis
//            visivel[i][j] = 0;//todas as posições não são visíveis
        }
    }
    
    //criando 20 bombas aleatórias
    for(i = 0; i < 20; i++)
    {
        bomba_i = rand() % N;
        bomba_j = rand() % M;
        campo[bomba_i][bomba_j] = '1';
    }
    
    //imprimindo a matriz campo
    printf("   ");    

    for(j = 0; j < M; j++)
    {
        printf("%2d ", j);
    }
    printf("\n");

    for(i = 0; i < N; i++)
    {
        printf("%2d ", i);

        for(j = 0; j < M; j++)
        {
            if(visivel[i][j] == 1)
            {
                printf("%2c ",campo[i][j]);
            }
            else
            {
                printf("*  ");
            }
        }
        printf("\n");
    }
 
    //imprimindo matriz visivel
//    printf("\n");   
//    for(i = 0; i < N; i++)
//    {
//        for(j = 0; j < M; j++)
//        {
//            printf("%d ",visivel[i][j]);
//        }
//        printf("\n");
//    }

    return 0;
}
